
*{
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
    color: #222;
}

html, body{
    background-image: url("../img/double-bubble-outline.png");
    margin: 0;
    padding: 0;
    padding: 0;
    scroll-behavior: smooth;
    min-width: 1280px;
}

header{
  margin-top: 10px;
}

.header-container{
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50px;
  background-color: rgba(108, 108, 77, 0.313);
}


.game-button{
  display: inline-block; 
  background-image: linear-gradient(rgba(247, 236, 187, 0.5), rgba(238, 233, 221, 0.741));    
  border-radius: 0px;
  background-size: 300px;
  background-position-x: 25px;
  background-position-y: -50px;
  font-size: 25px;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #222;
  transition: .5s;
  text-align: center;
  border: .1px solid white;
  opacity: .9;
  font-family: 'Open Sans Condensed', sans-serif;
}

.game-button:hover{
  cursor: pointer;
  background-image: linear-gradient(rgba(216, 198, 119, .3), rgba(248, 219, 138, .3));
} 

.game-button:focus{
  cursor: pointer;
  background-image: linear-gradient(rgba(216, 198, 119, .3), rgba(248, 219, 138, .3));
}

@media screen and (max-width: 1300px){
  .game-button{
    font-size: 15px;
  }
}

.title{
    /* display: block;
    top: -41em;
    bottom: 5.5em;
    padding-bottom: 50px;
    left: 0;
    right: 0;
    margin: auto auto;
    width: 20em;
    min-width: 20em;
    opacity: 0.7;
    transition-duration: 200ms; */
    cursor: pointer;
    display: block;
    width: 21em;
    margin: 0 auto;
    padding-bottom: 0.5em;
    min-width: 21em;
    opacity: 0.7;
    transition-duration: 200ms;
}


.title:hover{
    opacity: 1;
    width: 20.5em;
}


.title-about{
    position: absolute;
    width: 100%;
    margin: 32px auto;
    text-align: center;
    background-color: rgba(152, 197, 199, 0.39);
    font-size: 1em;
    margin-top: 0;
}

  .game-container {
    display: flex;  
    justify-content: flex-end;
    position: relative;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1100px;
    height: 650px;
    background-color: rgba(187, 235, 219, 0.596);
  }

  h1{
    position: absolute;
    width: 300px;
    font-size: 30px;
    transform: rotate(-7.7deg);
    color: whitesmoke;
    margin-top: 80px;
    margin-left: 44px;
    margin-right: 250px;
    text-align: center;
    vertical-align: middle;
}

.joaca{
  position: absolute;
  font-size: 80px;
  background-color: rgba(20, 72, 83, 0.61);
  font-family: 'Bebas Neue', cursive;
  border: none;
  text-decoration: none;
  outline: none;
  padding: 10px 60px;
  color:  rgba(109, 245, 245, 0.705);
  top: 65%;
  margin-left: -800px;
  margin-right: 760px;
  box-shadow: none;
  z-index: 4;
  transition-duration: 200ms;
}

  .joaca:hover{
    cursor: pointer;
    border: 0.5px solid rgba(238, 225, 207, 0.767);
    color: rgba(157, 255, 255, 0.705);
    background-color: rgb(99, 133, 148);
    }

  .davinci{
    position: relative;
  }

  .img-question{
    position: relative;
    left: 26%;
    width: 40%;
    max-width: 60%;
    margin: auto auto;
    margin-top: 45px;

  }

  .starter{
    display: block;
  }

  .question{
    position: relative;
    display: inline-table;
    font-size: 17px;
    padding: 10px 5px;
    min-width: 500px;
    background-color: rgba(42, 85, 102, 0.822);
    color: white;
    text-align: center;
    margin: auto auto;
    left: -25%;
    margin-top: 33%;
  }

  .question:hover{
    background-color: rgba(71, 135, 160, 0.822);
  }

  .options{
    position: absolute;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    margin-left: -12%;
    margin-top: 34.5%;
    z-index: 3;
  }

  .option{
    background-color: white;
    text-align: center;
    font-size: 20px;
    margin: 50px;
    margin-bottom: 15px;
    padding: 15px;
    width: 300px;
    transition-duration: 200ms;
  }

  .option:hover{
    cursor: pointer;
    background-color: rgb(204, 204, 97);
  }

    #score{
    display: none;  
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 1%;
    right: 0;
    margin: auto;
    width: 1000px;
    height: 600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgba(31, 36, 65, 0.589);
    }


    .final-image{
      position: absolute;
      width: 500px;
      left: 5%;
      top: 40%;
    }
